.main__page-logo {
  position: absolute;
  left: 2.5%;
  top: 2.5%;
}
.main-header {
  background-color: #1E191A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main__list-of-compositions {
  position: absolute;
}
